{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Yeni Parol Təyin Et</title>
    <link rel="stylesheet" href="{% static 'todo_app/css/style.css' %}">
</head>
<body>
    <h1>Yeni Parol Təyin Et</h1>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolu Dəyiş</button>
        </form>
    {% else %}
        <p>Bu sıfırlama linki keçərsizdir. Zəhmət olmasa yenidən sıfırlama sorğusu göndərin.</p>
    {% endif %}
    <p><a href="{% url 'login' %}">Daxil Ol</a></p>
</body>
</html>